---
to: components/<%= h.changeCase.lower(name) %>/<%= Name %>.jsx
---
import React from 'react';

const <%= Name %> = (props) => {
return (
<div className={['bg-red-200']}>
  <%= Name %> - {props.label} {props.active ? 'true' : 'false'}
  {props.children}
  {props.size}
</div>
)
}

export default <%= Name %>
